._index__button_activity {
    margin: 10px 24px 12px 0 !important;
    font-size: 14px !important;
    line-height: 30px;
 }
 ._index__list_activity{
    width: 400px;
 }
 ._index__input_activity{
    font-size: 20px !important;
    margin-right: 10px;
 }